<div class="row mb-3">
  <!-- Search box -->
  <div class="col-md-6">
    <input [(ngModel)]="searchTerm" 
           (input)="filterProducts()" 
           class="form-control" 
           placeholder="Search products..." />
  </div>

  <!-- Category filter -->
  <div class="col-md-6">
    <select [(ngModel)]="selectedCategory" 
            (change)="filterProducts()" 
            class="form-select">
      <option value="">All Categories</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>
  </div>
</div>


<!-- Product grid -->
<div class="row">
  <div *ngFor="let product of filteredProducts" class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
        <p class="card-text"><strong>Price:</strong> {{ product.price | currency }}</p>
        <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
        <button class="btn btn-primary w-100"  (click)="addToCart(product)">Add to Cart</button>
         <a [routerLink]="['/product', product.id]" class="btn btn-link">View Details</a>

      </div>
    </div>
  </div>
</div>
